@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar {
  background: hsl(217, 28%, 15%);
  padding-top: 1em;
  display: flex;
  place-content: space-between;
  .logo {
    width: 6em;
    padding: 1em 1em;
  }
}

nav {
  .primary-menu {
    list-style: none;
    display: inline;
    display: flex;
    line-height: 1.3em;
    flex-direction: row;
  }
  a {
    padding: 0em 1em;
    text-decoration: none;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
  }
}

.hero {
  background: hsl(217, 28%, 15%);
  text-align: center;

  .intro {
    width: 70%;
    position: relative;
    z-index: 1;
    top: 45px;
  }

  .curvy-mobile {
    display: none;
    width: 100%;
    position: relative;
    top: 5px;
  }
  .curvy-desk {
    width: 100%;
    position: relative;
    top: 5px;
  }
}

.features {
  background-color: hsl(218, 28%, 13%);
  text-align: center;
  .intro-heading {
    font-family: "Raleway", sans-serif;
    font-size: 1.9em;
    color: white;
    margin: 0px;
    position: relative;
    top: -65px;
  }
  .sub-content {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    position: relative;
    top: -55px;
  }
  .intro-button {
    padding: 1em 3.5em;
    border-radius: 5em;
    background: hsl(176, 68%, 64%);
    border: 0px;
    color: white;
    font-family: "Raleway";
    font-weight: 700;
    position: relative;
    top: -50px;
  }
  .feature-image {
    width: 4em;
    margin-bottom: 1em;
  }
  .main-features {
    margin-top: 5em;
    list-style: none;
    text-align: center;
    padding: 0px;
  }
  .feature-headiing {
    color: white;
    font-family: "Raleway";
    font-size: 20px;
  }
  .feature-content {
    color: white;
    font-family: "Open Sans";
    font-size: 15.5px;
    padding: 0em 2em;
    padding-bottom: 7em;
  }
}
.information {
  background-color: hsl(218, 28%, 13%);
  margin-top: -20px;
  .information-illustration {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .right-info-col {
    margin-left: 2em;
    margin-right: 1em;
    color: white;
    padding-bottom: 7em;
  }
  h1 {
    font-family: "Raleway";
    font-size: 1.3em;
  }
  p {
    font-family: "Open Sans";
    font-size: 14px;
  }
  a {
    color: hsl(176, 68%, 64%);
    font-family: "Open Sans";
    font-size: 0.9em;
    text-decoration: none;
  }
  .arrow {
    margin-left: 5px;
    width: 18px;
    position: relative;
    top: 4px;
  }
  .border {
    display: block;
    width: 157px;
    height: 1.5px;
    background: hsl(176, 68%, 64%);
    margin-top: 4px;
  }
}

.team-members-list {
  background-color: hsl(218, 28%, 13%);
  color: white;

  .team-member {
    padding: 2em 3em;
    list-style: none;
  }
  .tm {
    background-color: hsl(217, 28%, 15%);
    margin-bottom: 2em;
    border-radius: 5px;
  }
  .discription {
    padding: 2em;
    font-family: "Open Sans";
    font-size: 14px;
  }
  .profile {
    width: 30px;
    border-radius: 50%;
    margin-left: 2em;
    float: left;
    margin-right: 1em;
    margin-top: 0.25em;
  }
  .member-name {
    margin: 0px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 14px;
  }
  .member-designation {
    margin: 0px;
    padding-top: 0.3em;
    padding-bottom: 2em;
    font-family: "Open Sans";
    font-size: 14px;
  }
  .blockquote {
    position: relative;
    top: 62px;
    left: 60px;
    width: 26px;
  }
}

.footer {
  background-color: hsl(216, 53%, 9%);
  color: white;
  font-family: "Open Sans";

  .footer-logo {
    margin: 2em;
    width: 10em;
    padding-top: 150px;
  }
  .icon {
    float: left;
    margin-left: 1em;
  }
  .footer-discription {
    margin-left: 3em;
    margin-right: 1em;
  }
  .navigation-links {
    list-style: none;
    line-height: 2em;
  }
  .special-links {
    list-style: none;
    line-height: 2em;
  }
  .div2 {
    padding-bottom: 30px;
  }
  .div5 {
    text-align: center;
    padding: 5em;
  }
  .fab.fa-facebook-f {
    margin-right: 2em;
  }
  .fab.fa-twitter {
    margin-right: 2em;
  }
}
.float {
  text-align: center;
  background-color: hsl(217, 28%, 15%);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  border-radius: 0.5em;
  top: 130px;
}
.float-heading {
  padding-top: 1em;
  font-family: "Raleway";
  text-transform: capitalize;
}
.float-subheading {
  font-family: "Open Sans";
  font-size: 14px;
  padding: 1em;
}
#email {
  padding: 1.2em 1em;
  width: 74%;
  border-radius: 5em;
  border: 0px;
  font-family: "Open Sans";
}
#submit {
  margin-top: 15px;
  padding: 1em 1em;
  width: 76%;
  border-radius: 5em;
  border: 0px;
  color: white;
  background: hsl(176, 68%, 64%);
  font-family: "raleway";
  font-weight: 700;
  text-transform: capitalize;
  font-size: unset;
  margin-bottom: 2em;
  cursor: pointer;
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .navbar {
    padding-top: 2em;
    .logo {
      margin-left: 2em;
    }
  }
  .primary-menu {
    margin-right: 5em;

    a {
      padding: 0em 4em;
    }
  }
  .hero .intro {
    width: 35%;
  }
  .features .intro-heading {
    font-size: 36px;
    margin: 0 10em;
    top: -360px;
    line-height: 1em;
  }
  .features .sub-content {
    font-size: 17px;
    margin: 3em 30em;
    top: -350px;
  }
  .features .intro-button {
    top: -360px;
    width: 16%;
  }
  .features .main-features {
    margin: 0 15em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 25px 150px;
    top: -170px;
    position: relative;
  }
  .sec {
    position: relative;
    top: -25px;
  }
  .information {
    display: flex;
  }
  .left-info-col {
    float: left;
    display: flex;
    flex-direction: row;
  }

  .information .information-illustration {
    width: 75%;
    margin-left: 7em;
    margin-right: 2em;
  }
  .information .right-info-col {
    display: grid;
    margin-top: 5em;
    margin-right: 15em;
  }
  .team-members-list .team-member {
    display: flex;
    padding-top: 6em;
  }
  .team-members-list .tm {
    margin: 0 1em;
    z-index: 1;
  }
  .team-members-list .blockquote {
    top: 125px;
    width: 50px;
  }
  .float {
    width: 55%;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 15em;
    margin: 0 4em;
  }
  .footer .footer-logo {
    padding: 0;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .div4 {
    grid-area: 1 / 4 / 2 / 5;
  }
  .div5 {
    grid-area: 1 / 5 / 2 / 6;
  }
  .footer .footer-discription {
    margin-top: 0;
  }
  .footer .navigation-links {
    margin-top: 0px;
  }
  .footer .special-links {
    margin-top: 0px;
  }
  .footer .div5 {
    padding: 0%;
  }
}
